.recursos_Section {
  margin: 80px auto 20px;
  text-align: center;
  width: 70%;
  line-height: 1.5rem;
}

.recursos_Section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.nota {
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  background-color: gainsboro;
}

.recursos_Section h2 {
  margin: 30px auto 10px;
}

.recursos_Section div {
  border: 1px solid black;
  width: 50%;
}

.example_Contrast {
  padding: 20px;
  background-color: #EAEAEA;
  margin: 20px auto 30px;
}

.example_Contrast_Bad {
  color: #777777;
}

.example_Contrast_Minumum {
  color: #696969;
}

.example_Contrast_Good {
  color: #3e3e3e;
}

.example_code {
  padding: 5px;
  text-align: left;
  background-color: black;
  color: whitesmoke;
  margin: 20px auto 30px;
  width: 60%;
  padding: 15px;
}

.comment {
  color: greenyellow;
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto 30px;
  padding: 10px;
}

.form button {
  width: 100px;
  margin: 0 auto;
}

.recursos_Section li {
  list-style: none;
  margin: 5px auto;
}

.recursos_Section li::before {
  content: '✨';
}